$color-pink: #F58EA8 ;
$color-white: #fff;
* {
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
        'header header header'
        'user-information feed  who-follow'
        'trends feed ads'
}
nav{
    display: flex;
}
.nav{
    justify-items: start;
}
.nav-right{
    display: flex;
}
.icon-twitter{
    justify-items: center; 
}
.tweet-buttom{
    background-color: $color-pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    color: $color-white;
}
